<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 开启注解-->
    <context:annotation-config/>
    <context:component-scan base-package="com.czh.service.impl"/>
    <!--数据库连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="jdbcUrl">
            <value>jdbc:mysql://localhost:3306/task3?characterEncoding=UTF-8</value>

        </property>
        <property name="user">
            <value>root</value>
        </property>
        <property name="password">
            <value>890</value>
        </property>
    </bean>
    <!--配置SqlSessionFactory对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--注入数据库连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--扫描实体类包 使用别名-->
        <property name="typeAliasesPackage" value="com.czh.pojo"/>
        <property value="classpath:mapper/*.xml" name="mapperLocations"/>
    </bean>
    <!--扫描接口文件-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.czh.dao"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <!-- aop 作用于controller-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!--    启动扫描机制，扫描对应包-->
    <!--    基于注解实现aop-->
<!--    <context:component-scan base-package="com.czh.aop"/>-->
    <!--    开启aop-->
<!--    <aop:aspectj-autoproxy proxy-target-class="true"/>-->

</beans>